.container {
  min-width: 100%;
  padding: 10px;
  border-radius: 2px;
  font-weight: 500;
  color: var(--headings-soft);
}

.container:hover {
  background-color: var(--background-second);
  border-bottom: 1px solid var(--bg-primary);
  color: var(--text-color);
}
