.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.topSec {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 450px;
}

.notifications {
  flex: 3;
  background: var(--foreground-rgb);
  padding: 20px;
  border-radius: 4px;
}

.bottomSec {
  display: flex;
  gap: 20px;
}
