.container {
  margin-top: 30px;
}

.title {
  font-size: 66px;
  font-weight: 300;
  color: var(--headings-soft);
  flex: 3;
}

.middiv {
  display: flex;
}
.featured {
  flex: 3;
  margin-top: 30px;
  display: flex;
  min-height: 100%;
  gap: 50px;
  border-radius: 4px;
}

.imgContainer {
  position: relative;
  height: 500px;
  flex: 1;
}

.image {
  object-fit: cover;
}
.card {
  flex: 1;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.userTitle {
  font-size: x-large;
  font-weight: bold;
  color: var(--headings-soft);
}

.userImg {
  position: relative;
  width: 40px;
  height: 40px;
}
.userIcon {
  position: relative;
  width: 20px;
  height: 20px;
  filter: grayscale(1);
}

.user {
  display: flex;
  justify-content: space-between;
}
.userInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.details {
  display: flex;
  gap: 10px;
  align-items: center;
}
.authorName {
  font-size: small;
  font-weight: bold;
  color: var(--headings-soft);
}
.userDate {
  font-size: small;
  font-style: italic;
}

.footer {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footerDiv {
  padding: 8px;
  display: flex;
  height: 30px;
  width: 120px;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-third);
  border-radius: 30px;
}
.footerVerticalLine {
  color: var(--headings-soft);
  font-weight: 200;
}
.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.footerIcon {
  position: relative;
  width: 20px;
  height: 20px;
}

.button {
  padding: 16px 20px;
  width: max-content;
  cursor: pointer;
  border: 2px solid var(--background-second);
  border-radius: 5px;
  font-weight: bold;
  color: var(--bg-primary);
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 64px;
  }

  .imgContainer {
    display: none;
  }
  .footer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }
}
