.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  width: 500px;

  background-color: var(--background-second);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}

.github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: bold;

  border-radius: 5px;
}
